# yaml-language-server: $schema=../../schema/rmplan-config-schema.json

paths:
  tasks: tasks
defaultExecutor: claude-code
postApplyCommands:
  - title: Format
    command: bun run format
    allowFailure: true
    hideOutputOnSuccess: true
workspaceCreation:
  cloneLocation: ..
  cloneMethod: mac-cow
  postCloneCommands:
    - title: Install Dependencies
      command: bun install
      # Can fail due to tree-sitter not building but that's fine since we're only using the WASM
      allowFailure: true
